/* CSS files add styling rules to your content */

table{
  width:70%;
  border-style: solid;
  border-width: 3px;
  border-collapse:collapse; 
  border-color:#800080;
  table-layout:fixed;
}
th {
  border-style: solid;
  border-width: 3px;
  border-color:#800080;
  table-layout: auto;
  width: 100%;
  padding: 5px;
}
tbody>tr:nth-child(odd)  {

  background-color: #ff33cc;
  background-image: url("./assets/noise.png");
}
tbody>tr:nth-child(even) {
  background-color: #e495e4;
  background-image: url("./assets/noise.png");
  }
thead {
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("./assets/leopardskin.jpg"); 
 
}
tfoot {
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("./assets/leopardskin.jpg"); 
 
}

tbody {
  text-align: unset;
  font-family: 'Helvetica New', sans-serif;
  font-size: 1em;
  text-align:center;
}




