/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
tr:nth-child(odd)  {
  background-color: rgb(194, 174, 179)
}

tr:nth-child(even) {
  background-color: rgb(139, 31, 47);
}
thead>tr {
  font-family: 'Rock Salt', cursive;
  color: white;
  background-image:url("./assets/leopardskin.jpg") ;
}

