/* CSS files add styling rules to your content */




tr:nth-child(odd)  {

  background-color: #ff33cc

}
tr:nth-child(even) {
  background-color: #e495e4
}
thead>tr, tfoot>tr {
  font-family: 'Rock Salt', cursive;
  color: white;
  background-image:url("./assets/leopardskin.jpg") ;
  
}
tbody {
  border: deeppink;
  font-family: 'Helvetica New', sans-serif;
  background-image: url("./assets/noise.png");
}


